<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <title>Home</title>
</head>
<body class="contactBody">
        <nav role="navigation">
          <div class="logo">
             
                  <a href="index.html"><img src="images/logo.svg" class="sotiredofthis"></a>
              
          </div>
                <div id="menuToggle">
                  <!-- fake on click -->
                  <input type="checkbox" />
                  
                  <!-- Hamburger nom nom-->
                  <span></span>
                  <span></span>
                  <span></span>
                
                  <ul id="menu">
                    <a href="index.html"><li>Home</li></a>
                    <a href="about.html"><li>About</li></a>
                    <a href="gallery.html"><li>Work</li></a>
                    <a href="contactme.html"><li>Contact</li></a>
                  </ul>
                </div>
              </nav>

    <main>
        <h1>Let's get in touch</h1>
            <!-- VUE.JS simple contact form  https://vuejsexamples.com/simple-vue-js-contact-form/ -->
        <div id="app">

            <form class="vue-form" @submit.prevent="submit">
          
              <div class="error-message">
                <p v-show="!email.valid">Oh, please enter a valid email address.</p>
              </div>
          
              <fieldset>

                <legend>Vue Contact Form</legend>
                <div>
                  <label class="label" for="name">Who are you?</label>
                  <input type="text" name="name" id="name" required="" v-model="name">
                </div>
                <div>
                  <label class="label" for="email">Email</label>
                  <input type="email" name="email" id="email" required=""
                         :class="{ email , error: !email.valid }"
                         v-model="email.value">
                </div>
                
                <div>
                  <label class="label" for="textarea">What do you want me to know?</label>
                  <textarea class="message" name="textarea" id="textarea" required="" 
                            v-model="message.text" 
                            :maxlength="message.maxlength"></textarea>
                  <span class="counter">{{ message.text.length }} / {{ message.maxlength }}</span>
                </div>

                <div>
                  <input type="submit" value="Send Form">
                </div>

              </fieldset>
            </form>
          
            <div class="debug">
              <pre><code>{{ $data }}</code></pre>
            </div>
          
          </div>
      
    </main>

</main>
<script src="js/contact.js"></script>
</body>
</html>